/* Styles for images */

.logo {
    position: fixed;
    top: -60px;
    right: 10px;
    width: 300px; /* adjust size */
    height: auto;
}

/* Font for all text */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-left: 300px;  /* Positioning the text in the body */
  margin-right: 300px;  /* Positioning the text in the body */
  margin-top: 200px;  /* Positioning the text in the body */
  text-align: justify;  /* Justify text */
}

/* Heading sizes */
h1 {
  font-size: 3.6rem;  /* Large for main title */
  text-align: center; /* Centering */
}

h2 {
  font-size: 2rem;    /* Medium for sections */
  margin-bottom: 0.5rem;  /* Reduce space below h2 */
  text-align: left; /* Centering */
}

h3 {
  font-size: 1.5rem;  /* Smaller for subsections */
  font-weight: normal;  /* Remove bold */
  margin-top: 0.5rem;   /* Reduce space above h3 */
  text-align: left; /* Centering */
}



